﻿@{
    Layout = "~/Views/Shared/_LayoutInside.cshtml";
    ViewBag.Title = "New Page";
}

<div class="jumbotron" style="background-color: aqua">
    <h1>ASP.NET Inside Layout</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>