﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Footer = "Footer from inside layout";
}

<h2>Layout Inside Header</h2>

<div style="background-color: aquamarine">
    @RenderBody()
    <hr />
</div>


